//
// Colors
//

$white: #ffffff;
$gray: #f2f2f2;
$almost-black: #222222;
$pink: #fc4d50;

$body-background-color: $white;
$sidebar-color: $gray;
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: $gray;
$feedback-color: darken($sidebar-color, 3%);

$body-text-color: $almost-black;
$body-heading-color: $almost-black;
$search-result-preview-color: $almost-black;
$nav-child-link-color: $almost-black;
$link-color: $pink;
$btn-primary-color: $pink;
$base-button-color: $gray;

$border-color: darken($gray, 5%);

// 
// Page width
// 

$nav-width: 284px;
$nav-width-md: 284px;
$content-width: calc( 100% - 284px );